@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

.App {
  font-family: Inter, serif;
  font-weight: 600;
  
  overflow-x: hidden;
}

img {
  font-size: 16px;
  text-align: center;
}

.Title {
  font-size: 36px;
  font-weight: 700;
}

.Subtext {
  font-size: 18px;
  font-weight: 500;
  color: #434343;
  margin-top: 20px;
  margin-bottom: 20px;
}
