.LoadingPage {
    min-height: 20000px; /* Just some really high value to fill up the page until the article renders in */
}

.ArticlePagePanel {
    max-width: 1250px;
    margin: 0 auto;
    padding: 125px 75px;
}

#ArticleTitle {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 25px;
    text-align: center;
}

.ArticleDetails {
    color: #616161;
    font-weight: 500;

    text-align: center;
    margin-bottom: 30px;
}

.ArticleCover {
    margin: 0 auto 50px auto;
    display: block;
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.ArticleBody {
    display: flex;
    gap: 80px;
}

.ArticleContentAndAuthor {
    flex: 2;
}

.ArticleContent {
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;

    padding-bottom: 40px;
    border-bottom: solid 1.5px #C9C9C9;
}

.AuthorContainer {
    padding-top: 40px;
    display: flex;
    gap: 20px;
}

.AuthorHeadshot {
    flex-shrink: 0;

    border-radius: 100%;
    width: 115px;
    height: 115px;
    object-fit: cover;
    object-position: center top;
    border: solid 1px #C9C9C9;

    transition: filter 0.3s;
}
.AuthorHeadshot:hover {
    filter:brightness(0.9);
}

.AuthorDetails {
    display: flex;
    flex-direction: column;
}

.AuthorNameAndRole {
    font-size: 18px;
    font-weight: 700;

    color: black;
    text-decoration: none;
}

.AuthorDescription {
    font-size: 14px;
    font-weight: 400;
    color: #2C2F34;
    line-height: 1.5;

    margin-top: 10px;
    margin-bottom: 10px;
}

.AuthorLinkedInContainer {
    width: 22px;
    height: 22px;
}

.AuthorLinkedInLogo {
    height: 22px;
    width: 22px;
}

.OtherArticleSuggestionsContainer {
    flex: 1;
}

.OtherArticlesHeader {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
}

.OtherArticleSuggestionsArticle {
    border-top: solid 1.5px #C9C9C9;

    display: flex;
    gap: 50px;

    padding-top: 12px;
    padding-bottom: 12px;

    cursor: pointer;

    text-decoration: none;
}

.OtherArticleCover {
    width: 100px;
    height: 100px;
    object-fit: cover;

    transition: opacity 0.3s;
}
.OtherArticleCover:hover {
    opacity: 0.85;
}

.OtherArticleDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.OtherArticleTitle {
    color: black;
}
.OtherArticleTitle:hover {
    text-decoration: underline;
}

.OtherArticleGenreAuthor {
    font-size: 14px;
    font-weight: 500;
    color: #444444;
}

.AuthorArticles {
    margin-top: 50px;
}

.AuthorArticlesHeader {
    font-size: 20px;
    font-weight: 700;
}

.AuthorArticlesContainer {
    margin-top: 25px;
    display: flex;
    gap: 1.5vw;
}

.AuthorArticle {
    flex: 25%;
    max-width: 293.75px;
    text-decoration: none;
}

.AuthorArticleCover {
    width: 100%;
    aspect-ratio: 1.7;
    object-fit: cover;

    margin-bottom: 1vw;

    transition: opacity 0.3s, transform 0.3s;
}
.AuthorArticleCover:hover {
    opacity: 0.85;
    transform: scale(1.05);
}

.AuthorArticleTitle {
    color: black;
    margin-bottom: 10px;
}
.AuthorArticleTitle:hover {
    text-decoration: underline;
}

.AuthorArticleGenreAuthor {
    font-size: 14px;
    font-weight: 500;
    color: #444444;
}

@media (min-width: 1350px) {
    .AuthorArticleCover {
        margin-bottom: 20px;
    }

    .AuthorArticlesContainer {
        gap: 25px;
    }
}
@media (max-width: 1300px) {
    .ArticleBody {
        gap: 30px;
    }
}
@media (max-width: 1200px) {
    .OtherArticleSuggestionsContainer {
        display: none;
    }
}
@media (max-width: 1150px) {
    .AuthorArticleTitle {
        font-size: 15px;
    }

    .AuthorArticleGenreAuthor {
        font-size: 12px;
    }

    .AuthorArticlesHeader {
        font-size: 18px;
    }
}
@media (max-width: 1000px) {
    .ArticlePagePanel {
        padding: 125px 25px;
    }  

    .ArticleCover {
        height: calc(50vw + 75px);
        max-height: 450px;
    }
}
@media (max-width: 900px) {
    .ArticleCover {
        margin-bottom: 30px;
    }

    .AuthorArticlesContainer {
        flex-wrap: wrap;
        gap: 3.33vw 2.22vw;
    }
    
    .AuthorArticle {
        flex: 48%; /* Has to be 48% since the gap takes some space and making it 50% will make the second article overflow */
        max-width: 50%;
    }
}