.articlePreview {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.thumbnail {
    height: 50%;
    width: 100%;
    object-fit: cover;
}

.articleContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;

    padding: 10px;
}
#articleContentLarge {
    padding-top: 20px;
}

.articleTitle {
    font-weight: 800;
}
#articleTitleLarge {
    font-size: 24px;
}

.articleBottomContainer {
    display: flex;
    justify-content: space-between;
}

.articleAuthor {
    font-weight: 400;
    font-size: 14px;
}
.articleDuration {
    color: #878787;
    font-weight: 400;
    font-size: 14px;
}
#articleDetailsLarge {
    font-size: 16px;
}