.ArticlePagePanel {
    padding: 125px 75px;
}

#ArticleTitle {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 25px;
    text-align: center;
}

.ArticleDetails {
    color: #616161;
    font-weight: 500;

    text-align: center;
    margin-bottom: 30px;
}

.ArticleCover {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 450px;
    object-fit: cover;
}

@media (max-width: 1000px) {
    .ArticlePagePanel {
        padding: 125px 25px;
    }  
}