.ArticlePanel {
    max-width: 1250px;
    margin: 0 auto;
    padding: 280px 75px 0px 75px;

    display: flex;
    flex-direction: column;
}

#ArticleTitle {
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
}

.SearchArticleContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 300px;
}

.SearchContainer {
    display: flex;
    justify-content: center;
}

.Search {
    width: 600px; 
    height: 45px;
    padding-left: 20px;
    padding-right: 55px;

    border: solid 2px #B9B5B5;
    border-radius: 50px;

    font-size: 16px;
    font-family: Inter, serif;

    background-image: url('../assets/articles/Search.png');
    background-repeat: no-repeat;
    background-position: calc(100% - 20px);
}

.SearchBackground {
    position: absolute;
    z-index: -1;

    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    
    width: 100%;
    height: 762px;

    background-image: url('../assets/articles/SearchBackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.BoxRow {
    display: flex;
    gap: 30px;
}

.BoxContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.LoadButtonContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 75px;
}

.divider {
    border-bottom: solid 1px #d9d9d9;
    margin: 10px 0 40px 0;
}

#GenresTitle {
    display: flex;
    justify-content: center;
}

.RevolvingWordsContainer {
    display: inline-block;
    padding-left: 12px;

    height: 44px;
    vertical-align: bottom;
    overflow-y: hidden;
    overflow-x: hidden;

    user-select: none;
    cursor:text;
}
.RevolvingWord {
    display: block;
    white-space: pre;
    text-align: left;
    animation: animateWords 15s infinite ease;
}
@keyframes animateWords {
    0% {
        transform: translateY(0);
    }
    12.5%, 25% {
        transform: translateY(-43px);
    }
    37.5%, 50% {
        transform: translateY(-86px);
    }
    62.5%, 75% {
        transform: translateY(-131px);
    }
    87.5%, 100% {
        transform: translateY(-176px);
    }
}

.ArticlesAndGenresContainer {
    display: flex;
    margin-top: 50px;
}

.GenreArticles {
    flex: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Genres {
    flex: 1;
}

.CurrentGenre {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
}

.GenreEmpty {
    font-size: 3.5vw;
    text-align: center;

    width: 80%;
    margin: auto;
}

@media (min-width: 2250px) {
    .SearchBackground {
        width: 2250px;
    } 
}
@media (max-width: 1150px) {
    .ArticlesAndGenresContainer {
        flex-direction: column-reverse;
        margin-top: 5px;
    }

    .CurrentGenre {
        display: none;
    }
}
@media (min-width: 1000px) {
    .GenreEmpty {
        font-size: 32px;
    }
}
@media (max-width: 1000px) {
    .ArticlePanel {
        padding-left: 25px;
        padding-right: 25px;
    }

    .BoxRow {
        flex-direction: column;
        gap: 0;
    }

    .BoxContainer {
        gap: 0;
    }
}
@media (max-width: 750px) {
    #GenresTitle {
        flex-direction: column;
        text-align: center;
    }

    .RevolvingWord {
        text-align: center;
    }

    .GenreEmpty {
        font-size: 24px;
    }
}
@media (max-width: 498px) {
    .SearchArticleContainer {
        margin-bottom: 250px;
    }
}
@media (max-width: 400px) {
    .ArticlePanel {
        padding-top: 250px;
    }
}