.articlePreview {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.thumbnail {
    height: 50%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.articleContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;

    padding: 10px;
}
#articleContentLarge {
    padding-top: 20px;
}

.articleTitle {
    font-weight: 800;
    font-size: 1.14vw;
}
#articleTitleLarge {
    font-size: 1.71vw;
}

.articleDescription {
    font-weight: 400;
    font-size: 1.14vw;
    padding-top: 10px;
}

.articleBottomContainer {
    display: flex;
    justify-content: space-between;
}

.articleAuthor {
    font-weight: 400;
    font-size: 1vw;
}
.articleDuration {
    color: #878787;
    font-weight: 400;
    font-size: 1vw;
}
#articleDetailsLarge {
    font-size: 1.14vw;
}

@media (min-width: 1400px) {
    .articleTitle, .articleDescription, #articleDetailsLarge {
        font-size: 16px;
    }
    #articleTitleLarge {
        font-size: 24px;
    }
    .articleAuthor, .articleDuration {
        font-size: 14px;
    }
}

@media (max-width: 1000px) {
    .articleDescription {
        display: none;
    }

    #articleContentLarge {
        padding-top: 10px;
    }

    .articleTitle, #articleTitleLarge {
        font-size: 16px;
    }
    .articleAuthor, .articleDuration, #articleDetailsLarge {
        font-size: 14px;
    }
}