.LoadingPage {
    min-height: 20000px; /* Just some really high value to fill up the page until the article renders in */
}

.AuthorPagePanel {
    max-width: 1250px;
    margin: 0 auto;
    padding: 125px 75px;
}

.AuthorPageInfoContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.AuthorPageNameAndDescription {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 800px;
}

.AuthorPageName {
    font-size: 62px;
    font-weight: 700;
}

.AuthorPageDescription {
    font-size: 24px;
    font-weight: 400;
    color: #404040;
}

.AuthorPagePicture {
    width: 100%;
    max-width: 350px;
    aspect-ratio: 1;

    margin-top: 50px;
    margin-left: 50px;
    
    background-color: white;
    border-radius: 100%;
    border: solid 1px black;
}

.AuthorPageInfoDivider {
    position: absolute;
    bottom: 50px;
    width: 100%;
    z-index: -1;

    border-bottom: solid 1.5px #e4e4e4;
}

.AuthorPageArticlesLoading {
    height: 1000px;
}

#AuthorPageArticlesTitle {
    margin-top: 50px;
    margin-bottom: 10px;
}

@media (max-width: 1330px) {
    .AuthorPageNameAndDescription {
        gap: 3.76vw;
    }

    .AuthorPageName {
        font-size: 4.66vw;
    }
    
    .AuthorPageDescription {
        font-size: 1.8vw;
    }

    .AuthorPagePicture {
        margin-top: calc(50px + (1330px - 100vw) * 0.07);
    }
}
@media (max-width: 1000px) {
    .AuthorPagePanel {
        padding-left: 25px;
        padding-right: 25px;
    }

    .AuthorPageInfoContainer {
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 75px;
    }

    .AuthorPageNameAndDescription {
        text-align: center;
        margin: 0 auto;
    }

    .AuthorPageName {
        font-size: 60px;
        max-width: 700px;
        margin: 0 auto;
    }
    
    .AuthorPageDescription {
        font-size: 24px;
    }

    .AuthorPagePicture {
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 900px) {
    #AuthorPageArticlesTitle {
        font-size: 4vw;
        margin-bottom: 1.11vw;
    }
}
@media (max-width: 600px) {
    #AuthorPageArticlesTitle {
        font-size: 24px;
        margin-bottom: 6.66px;
    }
}