.LoadingPage {
    min-height: 20000px; /* Just some really high value to fill up the page until the article renders in */
}

.AuthorGenrePagePanel {
    max-width: 1250px;
    margin: 0 auto;
    padding: 125px 75px;
}

.AuthorPageInfoContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.GenrePageInfoContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.AuthorPageNameAndDescription {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 800px;
}
.GenrePageNameAndDescription {
    display: flex;
    flex-direction: column;
    gap: 60px;
    max-width: 800px;
    margin-top: 95px;
}

.AuthorPageName {
    font-size: 62px;
    font-weight: 700;
}
.GenrePageName {
    font-size: 82px;
    font-weight: 700;
}

.AuthorGenrePageDescription {
    font-size: 24px;
    font-weight: 400;
    color: #404040;
    line-height: 1.5;
}

.AuthorPagePicture {
    width: 100%;
    max-width: 350px;
    aspect-ratio: 1;

    margin-top: 80px;
    margin-left: 50px;
    
    background-color: white;
    border-radius: 100%;
    border: solid 1px black;
}
.GenrePagePicture {
    width: 100%;
    max-width: 400px;
    aspect-ratio: 1;

    margin-top: 90px;
}

.AuthorPageInfoDivider {
    position: absolute;
    bottom: 50px;
    width: 100%;
    z-index: -1;

    border-bottom: solid 1.5px #e4e4e4;
}
.GenrePageInfoDivider {
    position: absolute;
    bottom: 75px;
    width: 100%;
    z-index: -1;

    border-bottom: solid 1.5px #e4e4e4;
}

.AuthorGenrePageArticlesLoading {
    height: 1000px;
}

#AuthorGenrePageArticlesTitle {
    margin-top: 50px;
    margin-bottom: 10px;
}

@media (max-width: 1330px) {
    .AuthorPageNameAndDescription {
        gap: 3.76vw;
    }
    .GenrePageNameAndDescription {
        gap: 3.76vw;
    }

    .AuthorPageName {
        font-size: 4.66vw;
    }
    .GenrePageName {
        font-size: 4.66vw;
    }
    
    .AuthorGenrePageDescription {
        font-size: 1.8vw;
    }

    .AuthorPagePicture {
        margin-top: calc(80px + (1330px - 100vw) * 0.0303);
    }
    .GenrePagePicture {
        margin-top: calc(50px + (1330px - 100vw) * 0.07);
    }
}
@media (max-width: 1000px) {
    .AuthorGenrePagePanel {
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 10vw;
    }

    .AuthorPageInfoContainer {
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 75px;
    }
    .GenrePageInfoContainer {
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 75px;
    }

    .AuthorPageNameAndDescription {
        text-align: center;
        margin: 0 auto;
        gap: 50px
    }
    .GenrePageNameAndDescription {
        text-align: center;
        margin: 0 auto;
        gap: 50px
    }

    .AuthorPageName {
        font-size: 60px;
        line-height: 1.3;
        max-width: 700px;
        margin: 0 auto;
    }
    .GenrePageName {
        font-size: 60px;
        max-width: 700px;
        margin: 0 auto;
    }
    
    .AuthorGenrePageDescription {
        font-size: 24px;
    }

    .AuthorPagePicture {
        margin: 70px auto 0 auto;
    }
    .GenrePagePicture {
        margin: 70px auto 0 auto;
    }
}
@media (max-width: 900px) {
    .AuthorPageInfoContainer {
        margin-top: 5.55vw;
        margin-bottom: 8.33vw;
    }
    .GenrePageInfoContainer {
        margin-top: 5.55vw;
        margin-bottom: 8.33vw;
    }

    .AuthorPageNameAndDescription {
        gap: 5.55vw;
    }
    .GenrePageNameAndDescription {
        gap: 5.55vw;
    }

    .AuthorPageName {
        font-size: calc(60px - (900px - 100vw) * 0.05);
    }
    .GenrePageName {
        font-size: 6.66vw;
        max-width: 77.77vw;
    }
    
    .AuthorGenrePageDescription {
        font-size: calc(24px - (900px - 100vw) * 0.015);
    }

    .AuthorPagePicture {
        margin-top: 7.77vw;
        max-width: 38.88vw;
    }
    .GenrePagePicture {
        margin-top: 7.77vw;
        max-width: 38.88vw;
    }

    #AuthorGenrePageArticlesTitle {
        font-size: 4vw;
        margin-bottom: 1.11vw;
    }
}
@media (max-width: 600px) {
    #AuthorGenrePageArticlesTitle {
        font-size: 24px;
        margin-bottom: 6.66px;
    }
}