.Box, .LongBox, .GenreBox {
    background-color: white;

    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border-radius: 20px;

    transition: box-shadow 0.2s;
}
.Box:hover, .LongBox:hover, .GenreBox:hover {
    box-shadow: 0 0 18px rgba(0,0,0,0.25);
    cursor: pointer;
}

@media (min-width: 1001px) {
    .Box {
        width: 20vw;
        max-width: 280px;
        height: 17.3vw;
        max-height: 235px;
    }

    .LongBox {
        height: 17.3vw;
        max-height: 235px;
    }

    .GenreBox {
        height: 170px;
        margin: 0 20px;
    }
    
    #BoxTop {
        margin-bottom: 30px;
    }
    #BoxLeft {
        margin-right: 30px;
    }
}
@media (max-width: 1000px) {
    .Box, .LongBox, .GenreBox {
        height: 225px;
        max-width: 1000px;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
}