.NotFoundPanel {
    display: flex;
    flex-direction: row;
    align-items: center;

    max-width: 1250px;
    margin: 115px auto 60px auto;
    padding-left: 75px;
    padding-right: 75px;
}

.ErrorNumber {
    font-size: 60px;
}

.ReadingError {
    width: 500px;
}

.NotFoundText {
    padding-top: 30px;
    font-size: 20px;
    font-weight: 400;
    margin-right: 100px;
}

.ErrorButton {
    margin-top: 50px;
    display: flex;
}

@media (min-height: 1300px) {
    .NotFoundPanel {
        margin-top: 330px;
        margin-bottom: 276px;
    }
}
@media(max-height: 1300px) and (min-height: 865px) {
    .NotFoundPanel {
        margin-top: calc((100vh - 244.33px - 64px - 448.33px)/2 + 59px);
        margin-bottom: calc((100vh - 244.33px - 64px - 559.333px)/2 + 60px);
    }
}
@media(max-width: 1200px) {
    .ReadingError {
        max-width: 500px;
        width: 50%;
    }    

    .ErrorNumber {
        font-size: 5vw;
    }

    .NotFoundText {
        font-size: 1.66vw;
        margin-right: 50px;
    }
}
@media (max-width: 1000px) {
    .NotFoundPanel {
        padding-left: 25px;
        padding-right: 25px;
    }
}
@media(max-width: 700px) {
    .NotFoundPanel {
        flex-direction: column;
        text-align: center;
    }

    .ErrorNumber {
        font-size: 8vw;
    }

    .NotFoundText {
        font-size: 3vw;
        margin-right: 0;
    }

    .ErrorButton {
        justify-content: center;
        margin-bottom: 30px;
    }

    .ReadingError {
        max-width: 500px;
        width: 80%;
    } 
}