.SearchResultsPanel {
    max-width: 1250px;

    padding: 150px 75px 120px 75px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    height: 1000px;
}

.SearchBarContainer {
    margin-top: 30px;
}

.SearchResultsFilterContainer {
    margin-top: 50px;
    padding-bottom: 15px;
    display: flex;
    gap: 50px;
    border-bottom: solid 1px #C9C9C9;
}

.SearchResultFilter {
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
}

.SearchResultsContainer {
    margin-top: 50px;
}

@media (max-width: 1000px) {
    .SearchResultsPanel {
        padding-left: 25px;
        padding-right: 25px;
    }
}