.SearchResultsPanel {
    max-width: 1250px;

    padding: 150px 75px 120px 75px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

@media (max-width: 1000px) {
    .SearchResultsPanel {
        padding-left: 25px;
        padding-right: 25px;
    }
}