.TestTeamPanel {
    margin-top: 125px;
    margin-bottom: 125px;
}

.TitleContainer {
    max-width: 1250px;
    margin: 0 auto;
    margin-bottom: 100px;
    padding-left: 75px;
    padding-right: 75px;
}

#TestTeamSubtext {
    max-width: 530px;
}

.TeamMembersContainer {
    display: flex;
    gap: 25px;
    margin-left: 50px;
    margin-right: 50px;
}

.TeamMemberColumn {
    flex: 4;
}

.TeamMemberContainer {
    aspect-ratio: 0.8;
    border-radius: 30px;
    background-color: #F6F1F1;
    /* box-shadow: 0 0 15px rgba(0,0,0,0.1); */

    display: flex;
    flex-direction: column;
}

.TestHeadshotContainer {
    display: flex;
    justify-content: center;
    position: relative;
    height: 75%;
}

.TestHeadshot {
    position: absolute;
    bottom: -50px;
    height: 130%;
}

.TestTextContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;

    padding-top: 35px;
    padding-right: 15px;

    text-align: end;
    background-color: #E7E7E7;

    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    clip-path: polygon(0% 35%, 100% 0%, 100% 100%, 0% 100%);
}

.TestMemberName {
    font-size: 24px;
}

.TestMemberRole {
    font-weight: 400;
    color: gray;
}


@media (max-width: 1000px) {
    .TitleContainer {
        padding-left: 25px;
        padding-right: 25px;
    }
}