.Button {
    border: solid black 1px;
    border-radius: 20px;

    padding: 8px 25px;

    background-color: white;

    transition: all 0.3s;
}
.Button:hover {
    cursor: pointer;
    
    background-color: black;
    color: white;
}