.ContactPanel {
    max-width: 1250px;

    padding: 150px 75px 75px 75px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

#ContactSubtext {
    max-width: 550px;
}

.ContactBoxContainer {
    height: 500px;
    max-width: 1500px;
    width: 100%;

    margin-top: 25px;

    background-color: #F8F8F8;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border-radius: 20px;
}

.ContactBox {
    padding: 30px 50px;

    display: flex;
    flex-direction: column;
}

.ContactBoxTitle {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 50px;

    display: flex;
    justify-content: center;
}

.ContactBoxRow {
    display: flex;
    gap: 100px;
}

.ContactBoxInputContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
}

.ContactBoxInput {
    height: 50px;
    border-radius: 10px;
    border: solid 1px #B9B5B5;
    padding-left: 20px;
    font-size: 16px;
}

.ContactBoxMessageContainer {
    display: flex;
    flex-direction: column;
}


@media (max-width: 1000px) {
    .ContactPanel {
        padding-left: 25px;
        padding-right: 25px;
    }
}