.PanelThree {
    max-width: 1400px;

    padding: 50px 75px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

#PanelThreeTitle {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    max-width: 485px;
    padding-bottom: 5px;

    border-bottom: solid 2px transparent;
}
#PanelThreeTitle:hover {
    cursor: pointer;
    border-bottom-color: black;
}
#PanelThreeSubtext {
    font-size: 20px;
    max-width: 500px;
}