.PanelTwo {
    max-width: 1400px;

    padding: 50px 75px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

#PanelTwoTitle {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    max-width: 485px;
    padding-bottom: 5px;

    border-bottom: solid 2px transparent;
}
#PanelTwoTitle:hover {
    cursor: pointer;
    border-bottom-color: black;
}

#PanelTwoSubtext {
    font-size: 20px;
    max-width: 500px;
}

/* Following code is all for the articles boxes */
.PanelTwoArticlesContainer {
    display: flex;
}

.PanelTwoMainBoxContainer {
    width: 43vw;
    max-width: 600px;
    height: 37vw;
    max-height: 500px;
}

.PanelTwoBoxColumn {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.Box {
    width: 280px;
    height: 235px;
}

#BoxTop {
    margin-bottom: 30px;
}

.PanelTwoMainBoxContainer, .Box {
    background-color: white;

    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border-radius: 20px;

    transition: box-shadow 0.2s;
}
.PanelTwoMainBoxContainer:hover, .Box:hover {
    box-shadow: 0 0 18px rgba(0,0,0,0.25);
    cursor: pointer;
}

@media (max-width: 1000px) {
    .PanelTwo {
        padding-left: 25px;
        padding-right: 25px;
    }
}