.PanelTwo {
    height: 500px;
    max-width: 1400px;

    padding: 50px 75px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

#PanelTwoTitle {
    display: flex;
    justify-content: space-between;
    align-items: end;

    max-width: 485px;
    padding-bottom: 5px;

    border-bottom: solid 3px transparent;
}
#PanelTwoTitle:hover {
    cursor: pointer;
    border-bottom-color: black;
}

#PanelTwoSubtext {
    font-size: 20px;
    max-width: 500px;
}

.PanelTwoArticlesContainer {
    display: flex;
}

.PanelTwoMainBoxContainer {
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border-radius: 20px;

    width: 200px;
    height: 200px;
}
.PanelTwoMainBoxContainer:hover {
    box-shadow: 0 0 18px rgba(0,0,0,0.25);
}

@media (max-width: 1000px) {
    .PanelTwo {
        padding-left: 25px;
        padding-right: 25px;
    }
}