.PanelThree {
    max-width: 1250px;

    padding: 50px 75px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

#PanelThreeTitle {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    max-width: 485px;
    padding-bottom: 5px;

    border-bottom: solid 2px transparent;
}
#PanelThreeTitle:hover {
    cursor: pointer;
    border-bottom-color: black;
}
#PanelThreeSubtext {
    font-size: 20px;
    max-width: 500px;
    margin-bottom: 50px;
}

.PanelThreeArticlesContainer {
    display: flex;
    position: relative;
}

.PinkBlob {
    position: absolute;
    top: -20px;
    left: -150px;
    z-index: -1;

    height: 45vw;
    max-height: 630px;
    width: 110vw;
    max-width: 1540px;
}

/* Following code is all for the articles boxes */
.Box, .LongBox {
    background-color: white;

    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border-radius: 20px;

    transition: box-shadow 0.2s;
}
.Box:hover, .LongBox:hover {
    box-shadow: 0 0 18px rgba(0,0,0,0.25);
    cursor: pointer;
}

@media (min-width: 1001px) {
    .PanelThreeArticlesContainer {
        align-items: center;
    }
    
    .PanelThreeBoxColumn, .PanelThreeLongBoxColumn {
        display: flex;
        flex-direction: column;
    }
    .PanelThreeLongBoxColumn {
        width: 100%;
    }
    
    .Box {
        width: 20vw;
        max-width: 280px;
        height: 17.3vw;
        max-height: 235px;
    }
    .LongBox {
        height: 17.3vw;
        max-height: 235px;
    }
    
    #BoxTop {
        margin-bottom: 30px;
    }
    #BoxLeft {
        margin-right: 30px;
    }
}
@media (max-width: 1000px) {
    .PanelThree {
        padding-left: 25px;
        padding-right: 25px;
    }

    .PinkBlob {
        display: none;
    }

    .PanelThreeArticlesContainer {
        display: flex;
        flex-direction: column;
    }

    .Box, .LongBox {
        height: 225px;
        max-width: 1000px;
        margin-top: 20px;
    }
}