.PanelOne {
    max-width: 1325px;
    padding: 64px 0 50px 75px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

.PanelOneBackground {
    position: absolute;
    z-index: -1;

    margin-left: -75px;

    width: 100%;
    max-width: 1800px;
    height: 40.8vw;
    max-height: 550px;
}

.PanelOneContainer {
    display: flex;
    align-items: center;
}

.PanelOneTextContainer {
    margin-top: 80px;
}
.PanelOneTitle {
    font-size: 52px;
    font-weight: 700;
    max-width: 650px;
}
.PanelOneSubtext {
    font-size: 20px;
    font-weight: 400;
    max-width: 550px;
    color: #434343;
    
    margin-top: 30px;
    margin-bottom: 20px;
}

.PanelOneButton {
    margin-top: 60px;
    display: flex;
}

.PanelOneImageContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.PanelOneDivider {
    margin: 50px 125px 0 50px;
    border-bottom: solid 1px #d9d9d9;
}

@media (min-width: 1350px) {
    .PanelOneBackground {
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}
@media (max-width: 1100px) {
    .PanelOneTitle {
        font-size: 36px;
        font-weight: 700;
        max-width: 450px;
    }

    .PanelOneSubtext {
        font-size: 18px;
        max-width: 450px;
    }

    .PanelOneImage {
        max-width: 400px;
        padding-left: 50px;
    }
}
@media (max-width: 1000px) {
    .PanelOne {
        padding-left: 25px;
    }

    .PanelOneBackground {
        margin-left: -25px;
        height: 47vw;
    }

    .PanelOneDivider {
        margin-right: 75px;
    }
}
@media (max-width: 900px) {
    .PanelOneBackground {
        height: 55vw;
    }
}
@media (max-width: 750px) {
    .PanelOne {
        padding-right: 25px;
    }

    .PanelOneBackground {
        height: 90vw;
    }

    .PanelOneContainer {
        flex-direction: column;
    }

    .PanelOneTextContainer {
        margin-top: 50px;
    }

    #PanelOneTitle, #PanelOneSubtext {
        text-align: center;
    }
    
    .PanelOneButton {
        justify-content: center;
    }

    .PanelOneImage {
        padding-left: 0;
    }
}