.articlePreview {
    height: 100%;
    display: flex;
    flex-direction: column;

    text-decoration: none;
    color: black;
}
#GenrePreview {
    flex-direction: row;
}


.thumbnail {
    height: 50%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#GenreThumbnail {
    height: 100%;
    width: 30%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
}

.articleContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;

    padding: 10px;
}
#articleContentLarge {
    padding-top: 20px;
}
#GenreContent {
    padding: 15px;
}

.articleTitle {
    font-weight: 800;
    font-size: 1.14vw;
}
#articleTitleLarge {
    font-size: 1.71vw;
}

.articleDescription {
    display: none;
    font-weight: 400;
    font-size: 1.14vw;
    padding-top: 10px;
}
#GenreDescription, #LargeDescription, #LongDescription {
    display: block;
}
#GenreDescription {
    font-size: 13.5px;
}
#LongDescription {
    margin-top: -5px;
    font-size: 13px;
}

.articleBottomContainer {
    display: flex;
    justify-content: space-between;
}

.articleAuthor {
    font-weight: 400;
    font-size: 1vw;
}
.articleDuration {
    color: #878787;
    font-weight: 400;
    font-size: 1vw;
}
#articleDetailsLarge {
    font-size: 1.14vw;
}

@media (min-width: 1400px) {
    .articleTitle, .articleDescription, #articleDetailsLarge {
        font-size: 16px;
    }
    #articleTitleLarge {
        font-size: 24px;
    }
    .articleAuthor, .articleDuration {
        font-size: 14px;
    }
}

@media (max-width: 1350px) {
    #GenreDescription {
        font-size: 1.1vw;
    }

    #LongDescription {
        font-size: 1vw;
    }
}
@media (max-width: 1150px) {
    #GenreTitle {
        font-size: 1.5vw;
    }

    #GenreDescription {
        font-size: 1.3vw;
    }

    #LongDescription {
        display: none;
    }
}
@media (max-width: 1000px) {
    .articlePreview {
        flex-direction: row;
    }

    .thumbnail {
        height: 100%;
        width: 30%;
        border-top-right-radius: 0;
        border-bottom-left-radius: 20px;
    }

    .articleDescription, #GenreDescription, #LongDescription {
        display: block;
        font-size: 14px;
    }

    #articleContentLarge, #GenreContent {
        padding-top: 10px;
    }

    .articleTitle, #articleTitleLarge, #GenreTitle {
        font-size: 20px;
    }
    .articleAuthor, .articleDuration, #articleDetailsLarge {
        font-size: 14px;
    }
}
@media (max-width: 600px) {
    .articleTitle, #articleTitleLarge, #GenreTitle {
        font-size: 16px;
    }

    .articleDescription, #GenreDescription, #LongDescription {
        font-size: 2.33vw;
    }

    .thumbnail, #GenreThumbnail {
        width: 40%;
    }
}