.GenreButtons {
    margin-top: 20px;
}

.GenreRow {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.GenreButton {
    border: solid 1px #d9d9d9;
    border-radius: 7px;

    padding: 10px 15px;
    margin: 0 3px;

    font-weight: 500;

    transition: background-color 0.15s, border-color 0.15s;
}

#ActiveGenre {
    background-color: rgb(201, 227, 236);
    border-color: rgb(49, 171, 211);

}

#InactiveGenre:hover {
    cursor: pointer;
    background-color: rgb(212, 239, 248);
    border-color: rgb(151, 219, 241);
}

@media (max-width: 1150px) {
    .GenreButtons {
        margin-bottom: 30px;
    }
}
@media (max-width: 500px) {
    .GenreButton {
        font-size: 2.5vw;
    }
}