.HamburgerMenuIcon, .CloseIcon {
    position: absolute;

    border-radius: 50px;
    
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 0% 0%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));

    transition: background-size .15s;
}
.HamburgerMenuIcon {
    right: 0;
    height: 35px;
    padding: 12px;
}
.CloseIcon {
    right: 10px;
    height: 25px;
    padding: 15px;
}
.HamburgerMenuIcon:hover, .CloseIcon:hover {
    cursor: pointer;
    background-size: 100% 100%;
}

.DarkOverlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 11;

    background: rgba(26, 26, 26, 0.24);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}
#DarkOverlayActive {
    opacity: 1;
    visibility: visible;
}

.HamburgerMenuContainer {
    position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 15;

    background-color: white;
}
#HamburgerMenuActive {
    width: 300px;
    transition: width 0.5s cubic-bezier(.95,.01,.05,.99);
}
#HamburgerMenuInactive {
    width: 0;
    overflow-y: hidden;
    transition: width 0.5s cubic-bezier(.89,0,.12,.99) 0.3s;
}

.HamburgerMenuTop {
    display: flex;
    align-items: center;
    height: 64px;
    border-bottom: solid 1px #d9d9d9;
    box-shadow: 0 2px 12px rgba(0,0,0,.08);
}

.HamburgerPages {
    display: flex;
    flex-direction: column;
    margin: 20px 25px 0 25px;
}

.HamburgerPage {
    font-size: 20px;
    font-weight: 600;
    color: #A4A4A4;
    text-align: left;
    padding: 10px 0;

    display: flex;
    justify-content: space-between;
}
.HamburgerPage:hover {
    color: black;
    padding-left: 20px;
    cursor: pointer;
}
#HamburgerPageInactive {
    opacity: 0;
    margin-top: -10px;
}

.HamburgerArrow {
    height: 20px;
    opacity: 0;
    transition: opacity 0.2s;
}
.HamburgerPage:hover .HamburgerArrow {
    opacity: 1;
}

@media (min-width: 1001px) {
    .HamburgerMenuIcon {
        display: none;
    }
}