.HamburgerMenuIcon {
    position: absolute;
    right: 0;

    border-radius: 50px;
    height: 35px;
    padding: 12px;

    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 0% 0%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));

    transition: background-size .15s;
}
.HamburgerMenuIcon:hover {
    cursor: pointer;
    background-size: 100% 100%;
}

.DarkOverlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 11;

    background: rgba(26, 26, 26, 0.24);
    transition: opacity 3s;
}
#DarkOverlayInactive {
    opacity: 0;
    visibility: hidden;
}
#DarkOverlayActive {
    opacity: 1;
}

.HamburgerMenuContainer {
    position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 15;

    background-color: white;
}
#HamburgerMenuActive {
    width: 50%;
    transition: width 0.5s cubic-bezier(.95,.01,.05,.99), height 0.5s cubic-bezier(.95,.01,.05,.99);
}
#HamburgerMenuInactive {
    width: 0%;
    overflow-y: hidden;
    transition: width 0.5s cubic-bezier(.89,0,.12,.99) 0.3s, height 0.5s cubic-bezier(.89,0,.12,.99) 0.3s;
}

.HamburgerMenu {
    margin: 25px 30px 65px 25px;
}

@media (min-width: 1001px) {
    .HamburgerMenuIcon {
        display: none;
    }
}