.NavbarContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    border-bottom: solid 1px #d9d9d9;
    box-shadow: 0 2px 12px rgba(0,0,0,.08);

    background-color: white;
}

.Navbar {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 75px;

    height: 64px;

    display: flex;
    justify-content: space-between;
}

.NavbarLeft {
    display: flex;
    align-items: center;
}

.NavbarLogo {
    height: 40px;
}

.NavbarName {
    padding-left: 10px;
    height: 20px;
}

.NavbarRight {
    position: relative;
    display: flex;
    align-items: center;
}

.NavbarPage {
    padding: 20px 25px;
    color: #666666;
    height: max-content;
}
.NavbarPage:hover {
    cursor: pointer;
    color: black;
}
#NavbarPageActive {
    color: black;
    border-bottom: solid 4px;
}

.NavbarButtonContainer {
    margin-left: 12px;
}

@media (max-width: 1000px) {
    .Navbar {
        height: 44px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .NavbarButtonContainer {
        margin-right: 70px;
    }
}
@media (max-width: 1000px) {
    .NavbarPage {
        display: none;
    }

    .Navbar {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}